body{
    padding: 0;
    margin: 0;
    font-family: "cairo", "Open Sans", sans-serif;
    direction: rtl;
    text-align: right;
    overflow-x: hidden;
}

*{box-sizing: border-box}

:root{
      --clr-1: #EA952E ;

}


nav{
    background-color: var(--clr-1);
    padding: 5px 20px;
    position: relative
}

.nav-links li{padding: .5rem 1rem;}
.nav-links li .nav_link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}

.nav-links li .login_link {
    color: var(--clr-1);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    padding: 2px 15px;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
    
    
}
.navbar-toggle {
    position: absolute;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 30px;
    background-color: transparent;
    display: none;
}

@media (max-width: 992px){
.navbar-toggle {
    display:block;
    left: 16px;
    top: 22px;
    border-radius: 6px;
    padding: 1px 8px;
    font-size: 16px;
    
}
    .navbar-content{display: none !important}
}
.Interface-area{
    
    
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}


.Interface-content p {
    
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #000;
    
    
}

.Interface-content p span{
    
    color: var(--clr-1);
}

.content-links .link-1 a , .content-links .link-2 a {
    
    text-decoration: none;
    padding: 5px 30px;
    font-weight: bold;
    display: inline-block;
    border-radius: 40px;
    font-size: 16px;
    margin-bottom: 15px;
    

}
.content-links .link-1 a {background-color:var(--clr-1);color: #fff}
.content-links .link-2 a {background-color: #fff;color: var(--clr-1);box-shadow: 7px 7px 5px rgba(0,0,0,.075);padding: 5px 20px}

@media only screen and (max-width: 767px) {
    
    .Interface-content{margin-bottom: 30px}    
    .Interface-content p{font-size: 29px}
    
}
@media (min-width: 768px) and (max-width: 991px){ .Interface-content p{font-size: 25px}}



.Systems{
    position: relative;
    background-color:#EEEEEE ;
    padding: 3em 0;
    
}

.system-content > p{
    font-weight: bold;
    font-size: 20px;
    color: var(--clr-1);
}

.system-desc-img{
    background: url(../img/2.png) no-repeat center center ;
    width: 302px;
    height: 217px;
    
}

.system-desc-img img{
    width: 263px;
    height: 189px;
}

.system-description{
    background-color: #fff;
    padding: 10px 15px;
}



.system-description{
    
    background-color: #fff;
    font-size: 14px;
    color: #808184;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-weight: 600;
    text-align: justify;
    padding:15px 5px;

    
}
.system-description p{ 
    margin-bottom: 0;
    padding: 0px 20px;
}

.system_description{
 background-color: #fff;
    font-size: 14px;
    color: #808184;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    text-align: justify;
    padding:  12px;
    margin-top: 1.5rem;
    display: none;
    width: calc(100% - 15%);
    margin: 1.5rem auto 0;
   
}


@media only screen and (max-width: 992px) {
    
    .system_description{display: flex}
    .system-description{display: none}
    .system-content{margin-bottom: 1.5rem}
} 

.Store-packages{
    position: relative;
    padding: 5em 0;
    background-color:#EEEEEE ;

    
}

.packages-title h3{
    
  font-weight: bold;
    color: var(--clr-1);
    letter-spacing: 0.5px;
    
}

.Store-packages .package{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 7px 7px 5px rgba(0,0,0,.001);
    border-radius: 30px;
    
}
.ul-package{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}
.ul-package li{display: block}


.ul-package .package-title{
    font-size: 22px;
    color: var(--clr-1);
    font-weight: 700;
    letter-spacing: .5px;
}
.ul-package .package-title span{
border-bottom: 3px solid var(--clr-1);
    padding-bottom: 3px;
  
}

.ul-package .package-info span , .package-info-special span{
    font-size: 13px;
    color: #808081;
    font-weight: 600;
    margin-bottom: 3.5px;
    display: block;
    
}
.package-info-special span{color: #fff}
.ul-package .package-info ,.ul-package .package-info-special {
    height: 220px;
}

.ul-package .price{
    font-size: 22px;
    font-weight: bold;
    margin:1.8rem 0 1rem ;
    
}

.ul-package .package-more a{
    
    font-size: 14px;
    color: var(--clr-1);
    font-weight: 700;
    letter-spacing: .5px;
    margin-bottom: 30px;
    text-decoration: none;
    display: block;
}

.ul-package .package-buy a{
    
    text-decoration: none;
    color: #fff;
    background-color: var(--clr-1);
    padding: 0px 25px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .5px;
    border-radius: 30px;
}


@media only screen and (max-width: 576px) {
    
    .Store-packages .package{margin: auto;width: 80%;margin-bottom: 20px}
   
    
}


.banner-content p{
  font-size: 23px;
    color: #000;
    font-weight: bold;
    line-height: 2;
    
}


.banner-1 .banner-content a{
 text-decoration: none;
    color: #fff;
    background-color: var(--clr-1);
    padding: 0px 50px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 25px;
    
}
.banner-img {margin-top: -40px}

@media only screen and (max-width: 992px) {
    
    .banner-content p{font-size: 17px; line-height:1.5; }
    .banner-content a{font-size: 14px;  }

}
@media only screen and (max-width: 991px) {
    
    .banner-content{margin-bottom: 12px;}
}


.why-us{position: relative;background-color:#EEEEEE;padding: 3em 0; }


.why-us .why-us-title h3{
    
    font-size: 17px;
    color: white;
    padding: 4px 60px;
    background-color: var(--clr-1);
    font-weight: bold;
    display: inline-block;
    border-radius: 25px;
    
    
}
.why-us-description h3{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    text-align: center
}
.why-us-description p{
    font-size: 12px;
    color: #808081;
    text-align: justify;
}

@media only screen and (max-width: 767px) {
    
    .why-us-description{margin: auto;width: 80%;margin-bottom: 25px}
    
   
    
}



.about-us{
    position: relative;
    padding: 3em 0;
    background-color: var(--clr-1);
    
}

.about-info{
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    margin-left: -52.5px;

    
}

.about-info .about-img{
    width: 105px;
    height:105px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EDEEEE;
    border-radius: 50%;
    margin-right: -50px;
}
.about-text p:first-of-type{
    
    color: #808081;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 17px;
    
}
.about-text p:last-of-type{
    
    color: var(--clr-1);
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: -8px;
    
    
}

.about-text p:last-of-type span{
    
    font-size: 10px;
    font-weight: 900;
    
}

@media only screen and (max-width: 576px){
    .about-info{margin-bottom: 20px}
}


.our-work{
    position: relative;
    padding: 3em 0;
    background-color: #EEEEEE;
    
}
.banner-2{
    background: url(../img/Asset%2023.png) no-repeat center center;
  background-size: contain;

}
.work-title h3{
    font-size: 17px;
    padding: 0px 30px;
    background-color: var(--clr-1);
    margin-bottom: 15px;
    display: inline-block;
    color: #fff;
    border-radius: 25px;
}

 .work-img{
    
     width: 150px;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: #fff;
     border-radius: 50%;
     
    
}
.work-img .back-ground{
    border: 1px solid #eeeeee;
         border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

}
.work-name{
    font-weight: bold;
    letter-spacing: 0.5px;
      display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    font-size: 20px;
}

.work-description{
    
    font-size: 14px;
    color:#808081;
    font-weight: 800;
    letter-spacing: .5px;
}


@media only screen and (max-width: 767px) {
    
    .work-title{margin-top: 40px}
    
}

.work-slider .prev-arrows , .work-slider .next-arrows {
    
    position: absolute;
    bottom: -13%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #CDCFD0;
    color: gray;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.work-slider .prev-arrows{right: 20%;z-index: 100}
.work-slider .next-arrows{left: 20%;z-index: 100}

.slick-dots{bottom: -13% !important;width: auto !important; left: 50% !important;transform: translateX(-50%)}

.slick-dots li button::before{color: #CDCFD0}
.slick-dots li.slick-active button::before{
    color: var(--clr-1) !important;
    
}
.slick-dots li button::before:focus{opacity: 0 !important }



.partners h3{
    color: var(--clr-1);
    padding: 10px 30px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 10px;
    
    
}

.partner{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,.075);
    padding-bottom: 2em ;
}
.banner-3{
    width: 100%;
    height: 200px;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;


}
.partner-logo{
     width: 150px;
     height: 150px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: #fff;
     border-radius: 50%;
    box-shadow: 7px 7px 5px rgba(0,0,0,.075);
    margin-top: -80px;

         
}
.partner-name p:nth-child(1){
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #000;
}
.partner-name p:nth-child(2){
    font-weight: bold;
    letter-spacing: 0.5px;
    color: var(--clr-1);
    font-size: 14px;
}

.partner-name p:nth-child(3){
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #808083;
    font-size: 12px;
    padding: 0px 50px;
    text-align: justify
}

.partner .icons span{
 width: 30px;
    height: 30px;
    background-color: var(--clr-1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    border-radius: 50%;
    
}


@media (min-width: 481px) and (max-width: 767px){
   
    .partner{width: calc(100% - 30%);margin: auto}
       
}


@media (max-width: 480px) {.partner{width: calc(100% - 10%);margin: auto}}


.partenter-slider .prev-arrow , .partenter-slider .next-arrow{
     position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #CDCFD0;
    color: gray;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 30%;
}

.partenter-slider .prev-arrow{right: 0%;z-index: 100}
.partenter-slider .next-arrow{left: 0%;z-index: 100}

@media (min-width: 576px) {
.partenter-slider .prev-arrow{right: -3%}
.partenter-slider .next-arrow{left: -3%}

}



.banner-4{
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    
    
}
.free-try{padding-left: 5em}
.free-try-2{display: none;background-color:#f7f7f9;padding: 20px 0px; }
.free-try p , .free-try-2 p{
    font-size: 38px;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.free-try a , .free-try-2 a{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.7px;
    background-color: var(--clr-1);
    padding: 2px 20px;
    text-decoration: none;
    border-radius: 20px;
}


 @media (min-width: 768px) and (max-width: 992px){
   
     .free-try p{font-size: 30px}  
}

@media (min-width: 600px) and (max-width: 767px){
   
     .free-try p{font-size:20px}  
}


@media only screen and (min-width: 1200px) {.free-try{padding-left: 15em}} 
@media only screen and (max-width: 600px) {
    
   .free-try-2{display: block}
    .free-try-2 p {font-size: 20px;margin-bottom: 10px}
   .free-try{display: none}
   
} 

.blog{
    
    position: relative;
    background-color: #eeeeee;
    padding: 3em 0;
}
.blog-content{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 7px 7px 5px rgba(0,0,0,.075);
    padding: 30px 15px;
    text-align: center;
    
}
.blog-content img{
    height: 142px;
    max-height: 145px;
}
.blog-content h3{
    font-size: 20px;
    font-weight: bold;
    color: var(--clr-1);
    letter-spacing: 0.5px
    
}

.blog-content p{
    font-size: 13px;
    font-weight: 600;
    color: #808081;
    text-align: justify;
    text-overflow: ellipsis;
    height: 154px;
    max-height: 155px;
    overflow:hidden;

    
}

.blog-content a{
    font-size: 16px;
    font-weight: bold;
    background-color: var(--clr-1);
    letter-spacing: 0.5px;
    color: white;
    padding: 2px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

@media (max-width: 480px) {
    .blog-content{
        width: calc(100% - 15%);
        margin: auto;
        padding: 30px 20px;
    }

}


.blog-slider .prev-arrow , .blog-slider .next-arrow{
     position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #CDCFD0;
    color: gray;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 50%;
}

.blog-slider .prev-arrow{right: 0%;z-index: 100}
.blog-slider .next-arrow{left: 0%;z-index: 100}


@media (min-width: 576px) {
.blog-slider .prev-arrow{right: -3%}
.blog-slider .next-arrow{left: -3%}

}

.get-app{
    
    position: relative;
    padding: 3em 0;
    background-color: #1A233A;
}

.get_application p{
    
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #EA952E;
}

.download-android a ,.download-ios a  {
    
    color:#1A233A;
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-weight: bold;
}


.contact{
    padding: 3em 0;
    position: relative;
    background-color: #EEEEEE;
}


.contact .contact-title{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
    
}
.contact .contact-title span{color: var(--clr-1)}
.contact-input input{
    color: #808081;
    background-color: #fff;
    border-radius: 25px;
    padding:10px;
    border: none;
    outline: none;
    width: 100%;
    
}
.contact-input textarea{
    width: 100%;
    color: #808081;
    background-color: #fff;
    border-radius: 25px;
    padding:20px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 10px;
    min-height: 150px;
    
    
}
.contact-input input[type="submit"]{
    
    color: #fff;
    padding: 6px 60px;
    background-color: var(--clr-1);
    border-radius: 30px;
    font-weight: bold;
    margin-top: 30px;
width: auto;
    text-align: center;
    display: inline-block;
}

footer{
    
    background-color:#1A233A ;
    padding: 5em 0;
    position: relative;
}

.footer-menu h4{
    font-weight: bold;
    color: #F5911E;
    letter-spacing: 0.5px;
    /**margin-bottom: 15px;*//
    
}


.footer-menu ul{

    padding: 0;
    margin: 0;
    list-style-type: none;
    min-height: 157px;
    max-height: 237px;
    height: 235px;
    border-right: 1px solid #ccc;
    margin-top: 36px;
}

.footer-menu ul li{padding-right: 20px}

.footer-menu ul li a {
  display: inline-block;
    margin-bottom: 15px;
    color:#fff;
    text-decoration: none;
    transition: 0.7s ease;
    
}

.Social-media span a{
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    color: #F5911E;
    text-decoration: none
    
}

.watsapp-icon{
    position: absolute;
    bottom: 30px;
    left: 30px;

}

.watsapp-icon a{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.watsapp-icon span{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}

@media only screen and (max-width: 576px) {
    
    
} 
@media only screen and (max-width: 480px) {
    
    .Social-media span a{margin-right: 10px}
    .contact-title p{font-size: 15px}
    .download-android a, .download-ios a{padding: 3px 16px}
} 

@media only screen and (max-width: 357px) {
    .contact-title p{font-size: 13px}
    .download-android a, .download-ios a{padding: 3px 13px}
    .work-name p{font-size: 16px}
    .work-img {width: 120px;height: 120px;}
    .work-img .back-ground{width: 110px;height: 110px}
    .work-img .back-ground img{width: 80px}
    .work-slider .prev-arrows, .work-slider .next-arrows{margin-bottom: 20px}


} 
